<h1>Login</h1>

<%= form_tag '/sessions' do %>

  <div style="padding: 1em"> Email: <%= text_field_tag :email %></div>
  <div style="padding: 1em">Password: <%= password_field_tag :password %></div>
  <div><%= submit_tag "Submit", class: "btn btn-primary" %></div>

<% end %>



