<h1>Store Statistics</h1>

<h3>Total Number of Products: <%= @number_of_products%></h3>

<h3>Total Number of Categories: <%= @number_of_categories%></h3>

<%= link_to 'Admin Products', admin_products_path, class: 'btn btn-sm btn-info' %>